<div class="starter-template">
  <h1>Welcome to ProTwit (Protovo twitter)</h1>
  <p class="lead">It's building for Entrepreneurs, Join and Follow, It's simple and beautiful. SignUp now, Post your twit and view your followers twit.</p>
</div>
<div class="col-md-8 offset-4">
  <a class="btn btn-primary btn-lg" href="/signup">SignUp</a>

  <a class="btn btn-primary btn-lg" href="/login">Login</a>
</div>
